<h1>Tasks</h1>
<%= link_to 'New Task', new_task_path %>
<hr />
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.start_time.strftime("%H:%M") %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<%= month_calendar events: @calendars do |date, tasks| %>
  <%= date %>
  <div>
    <% tasks.each do |task| %>
    <%= link_to task.title, task %>
  <% end %>
  </div>
<% end %>

