<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @age %>
</p>
<p>


<p>
  <strong>Content:</strong>
  <%= @pet.content %>
</p>
<%= link_to 'Back', pets_path %>|
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Destroy', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
