<!DOCTYPE html>
<html>
  <head>
    <title>Pet_health</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "ユーザー", user_path(current_user)%>
      <%= link_to "ペット", pets_path%>
      <%= link_to "タスク", tasks_path%>
      <%= link_to "体調管理", healths_path%>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to 'サインアップ', new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <hr />
    <%= yield %>
  </body>
</html>
